body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  padding: 0 1%;
  color: #808080;
  font-weight: 500;
}

p {
  word-break: break-all;
  white-space: normal;
  width: 60%;
}
nav {
  position:center
  padding: 0 0 60px;
  margin-top:50px;
  margin-right:80px;
}

@media screen and (max-width: 1000px) {
  a {
    padding: 0 3%;
  }
  .search-icon {
    padding-left: 11%;
  }
}

.search-icon {
  position: absolute;
  padding-left: 19%;
}
.google-design{
  position: relative;
  padding: 0 0 0 10px;
}

h2 {
  text-align: center;
}
.header1{
      display:block;
  text-align: left;
  margin-top: 70px;
  margin-left: 150px;
  font-size: 25px;
  font-family: Helvetica;
  color: #36454F;
}
.body {
  
}
.body1 {
    display:block;
  text-align: left;
  margin-top: 90px;
  margin-left: 142px;
  font-size: 18px;
  font-family: Helvetica;
  color: #36454F;
}
.body2 {
      display:block;
  text-align: left;
  margin-top: 20px;
  margin-left: 142px;
  font-size: 18px;
  font-family: Helvetica;
  color: #36454F;
}
.body3 {
        display:block;
  text-align: left;
  margin-top: 20px;
  margin-left: 142px;
  font-size: 18px;
  font-family: Helvetica;
  color: #36454F;
}

#footer{
   background-color: #FFF;
   min-width: 1200px;
   min-height: 200px;
     display: flex;
  justify-content: space-between;
}


  #footer div:nth-child(1){
                
                 margin-top:40px;
                margin-left:20px;
                 margin-right: 100px;
                 max-width: 400px;
          text-align: left;
             }


  #footer div:nth-child(2){
                
                 margin-top:40px;
                margin-left:200px;
                 margin-right: 50px;
                 max-width: 140px;
          text-align: left;
             }
  #footer div:nth-child(3){
                
                 margin-top:40px;
                margin-left:70px;
                 margin-right: 50px;
                 max-width: 120px;
          text-align: left;
             }